$keyboardBgc: #dedfe0;
$keyBtnBgc: #fff;

.keyboardMask {
    position: absolute;
    z-index: 100;
    top: 36px;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: transparent;
}

.keyboard {
    position: fixed;
    z-index: 900;
    right: 0;
    bottom: 0;
    left: 0;

    padding-top: 6px;

    user-select: none;
    transition: transform 200ms ease-out;
    transform: translateY(100%);
    text-align: center;

    background-color: $keyboardBgc;
}

.keyboardOpen {
    transform: translateY(0);
}

.keyboardLayout {
    height: 100%;
}

.btnKey {
    position: relative;

    display: inline-block;

    width: 10%;
    height: 25%;
}

@media only screen and(min-width: 320px)and (max-width: 374px){
    .button{
        width: 88% !important;
    }
}
.button {
    font-size: 14px;

    display: inline;

    width: 80%;
    height: 80%;
    margin: 10% auto;
    padding: 0;

    text-align: center;

    border: 0;
    border-radius: 3px;
    background-color: $keyBtnBgc;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
    &:focus {
        outline: 0;
    }
    &:active ~ .btnActive {
        font-size: 16px;
        line-height: 200%;

        position: absolute;
        top: 0;
        left: -10%;

        display: table;

        width: 120%;
        height: 100%;
        margin-bottom: 10px;

        transform: translateY(-100%);

        border-radius: 5px;
        background-color: $keyBtnBgc;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
        span {
            display: table-cell;

            width: 100%;

            text-align: center;
            vertical-align: middle;
        }
        &::after {
            position: absolute;
            bottom: 0;
            left: 50%;

            width: 0;
            height: 0;

            content: '';
            transform: translate3d(-50%, 100%, 0);

            border-top: 10px solid $keyBtnBgc;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
        }
    }
    i{
        font-size:28px !important;
        color:$keyBtnBgc;
    }
}

.btnActive {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.backspace {
    width: 15%;

    vertical-align: middle;
    i {
        font-size: 20px;
    }
    .button {
        background-color: #cbcdd1;
        &:active {
            background-color: #fff;
            i{
                color:#cbcdd1;
            }
        }
    }
}
.keyboardHide{
    display:none;
}
.keyboardShow{
    display:block;
}
