@import "../../styles/variable";
.tab{

}
.content{
    align-items:center;
    justify-content:center;
    height:48px;
    line-height:48px;
    text-align:center;
    width:100%;
    font-weight:1.3rem;
}
