<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<clear />
                <rule name="rewriteWithParameterUrl" enabled="true">
                    <match url="^(?!.*\.(html|htm|js|css|png|svg|ico|jpg|jpeg|gif|json|xml|woff|ttf|manifest)).*$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern=".+$" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}/{C:0}" />
                </rule>
				<clear />
                <rule name="rewritePureUrl" enabled="true">
                    <match url="^(?!.*\.(html|htm|js|css|png|svg|ico|jpg|jpeg|gif|json|xml|woff|ttf|manifest)).*$" />
                    <action type="Rewrite" url="{R:0}/" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
