@import "../../styles/variable";
.tabs{
    display:flex;
    // box-shadow:rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    background-color:#fff;
}
.lineContainer{
    width:100%;
    margin-bottom:6px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.117647), 0 1px 1px rgba(0,0,0,0.117647);
    background:#fff;
}
.line{
    position:relative;
    display:block;
    height:2px;
    background-color:red;
    transition: left 1s cubic-bezier(0.23,1,0.32,1) 0ms;
}

