.PackageItem {
    min-height: 6.0rem;
    min-width: 20.0rem;
    min-height: 6.0rem;
    min-width: 20.0rem;
    border-top: 0.1rem solid #EEEEEE;
    border-left: 0.1rem solid #EEEEEE;
    border-right: 0.1rem solid #EEEEEE;
    border-bottom: 0.2rem solid #CC3333;
    background-color: #FFF;
    margin-top: 1rem;
    .title {
        padding-left: 1.5rem;
        padding-top: 1.0rem;
        color: #CC3333;
        font-size: 1.5rem;
    }
    .nowPrice {
        float: right;
        margin-top: 1.0rem;
        margin-right: 0.5rem;
        font-weight: bolder;
        .specialMoney {
            color: #CC3333;
            font-size: 1.8rem;
        }
        .money {
            color: #ccc;
            text-decoration: line-through;
        }
    }
    .select {
        float: left;
        font-size: 1.8rem;
        margin-left: -1.0rem;
        margin-top: -0.5rem;
        background-color: #FAFAFA;
    }
    .active {
        color: #CC3333;
    }
    .contents {
        padding: 1.5rem;
        border-bottom: 0.1rem dotted #CCC;
        font-size: 1.2rem;
        color: #CCC;
        .content {
            padding-top: 0.2rem;
        }
    }
    .btnContent {
        font-size: 1.2rem;
        float: right;
        color: #ccc;
        margin: 0.5rem;
        overflow: hidden;
        .showDelete {
            float: left;
            transform: translateX(0);
            -webkit-transition: all 0.3s;
            -webkit-transition-timing-function: ease;
        }
        .hideDelete {
            float: left;
            transform: translateX(200%);
            -webkit-transition: all 0.3s;
            -webkit-transition-timing-function: ease;
        }
        .num {
            float: left;
            //display: inline-block;
            line-height: 2.2rem;
            text-align: center;
            //height: 1.6rem;
            padding: 0 0.5rem;
            min-width: 2rem;
            border-radius: 0.2rem;
            color: #ff3636;
        }
        .deleteBtn, .addBtn {
            text-align: center;
            float: left;
        }
        .deleteIcon, .addIcon {
            font-size: 2rem;
        }
        .addIcon {
            color: #ff5455
        }
    }
    .time {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 1.5rem;
        color: #CCC;
        font-size: 1.2rem;

    }
}
