$primaryColor: #cc3333;
$grey: #E0E0E0;
$mainColor:#cc3333;
$white:#FFF;

$bgColor:#FFF;
$majorColor:#cc3333;
$major1Color:#cc3333;
$major2Color:#cc3333;
$reMajorColor:#FFF;
$minorColor:#B3B3B3;
$minor1Color:#E0E0E0;
$minor2Color:#E0E0E0;
$minor3Color:#F5F5F5;
$reMinorColor:#FFF;

